@import '@root/styles/colors';

.send-message {
  margin-bottom: 5px;

  textarea {
    background-color: white;
    border: 1px solid $gray-5;
    border-radius: 25px;
    padding: 15px 60px 15px 15px;
    resize: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  span {
    top: 8px;
    right: 7px;
    background-color: $twitter-blue;
    cursor: pointer;
    transition: all .3s ease;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding-top: 1px;
    font-size: 1.2em;
    border: 1px solid white;

    &:hover {
      background-color: white;
      color: $twitter-blue;
      border: 1px solid $twitter-blue;
    }
  }
}
