@import '@root/styles/indents';
@import '@root/styles/colors';

%liked-stl {
  color: $light-green;
  background-color: rgba($light-green, 0.08);
}

%disliked-stl {
  color: $light-red;
  background-color: rgba($light-red, 0.08);
}

.icon-with-count-comp {
  color: $gray-6;
  transition: all .3s;
  border-radius: 30px;
  cursor: pointer;

  &.liked {
    @extend %liked-stl;
  }

  &.disliked {
    @extend %disliked-stl;
  }

  &.up-span {
    &:hover {
      @extend %liked-stl;
    }
  }

  &.down-span {
    &:hover {
      @extend %disliked-stl;
    }
  }

  &.comment-span {
    &:hover {
      color: $twitter-blue;
      background-color: rgba($twitter-blue, 0.1);
    }

  }

  svg {
    font-size: 1.25em;
    margin-right: 5px;
  }
}
