@import '@root/styles/colors';
@import '@root/styles/indents';

.post-info {
  border: 1px solid $gray-4;

  .post-user-info {
    .img-div {
      img {
        max-width: 50px;
      }
    }

    .name-login-div {
      color: $gray-6;

      p {
        font-size: 1.2em;
        color: black;
        font-weight: 800;

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .post-text {
    font-size: 1.3em;

    span {
      cursor: pointer;
      color: $twitter-blue;
    }
  }

  .post-date-buttons {
    .date-div {
      color: $gray-6;
    }
  }

  > div {
    margin-bottom: 25px;
  }
}
