@import '@root/styles/colors';
@import '@root/styles/mixins';

%inner-stl {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
}

.dialog-messages-list {
  border: 1px solid $gray-4;
  background-color: $gray-1;
  border-radius: 20px;

  .message {
    &.message-from-me {
      justify-content: flex-end !important;
      padding-right: 10px;

      .message-inner {
        background-color: #c4ddff;

        &:after {
          @extend %inner-stl;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          right: 0;
        }

        &:before {
          @extend %inner-stl;
          border-bottom: 17px solid #c4ddff;
          border-left: 16px solid transparent;
          border-right: 12px solid transparent;
          right: 0;
        }

        .message-time {
          text-align: right;
        }
      }
    }

    &.message-from-another {
      padding-left: 10px;

      .message-inner {
        background-color: #c3f6d3;

        &:after {
          @extend %inner-stl;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          left: 0;
        }

        &:before {
          @extend %inner-stl;
          border-bottom: 17px solid #c3f6d3;
          border-left: 12px solid transparent;
          border-right: 16px solid transparent;
          left: 0;
        }
      }
    }

    .message-inner {
      border-radius: 20px;
      max-width: 50%;
      @include box-shadow(0, 3px, 9px, 4px, #f5f5f5);

      .message-text {
        color: $gray-7;
        font-size: 1.05em;
      }

      .message-time {
        color: #7b7b7b;
        font-size: 0.9em;
      }
    }
  }
}
