@import '@root/styles/colors';
@import '@root/styles/indents';
@import '@root/styles/anotherConstants';

.entity-fields {
  .textarea-div {
    textarea {
      @extend %field-style;
    }
  }

  .tags-dropdown-div {
    input {
      @extend %field-style;
    }
  }

  .tags-div {
    .tag {
      border-radius: 15px;
      background-color: $gray-3;
      color: $gray-6;

      span {
        cursor: pointer;
        font-size: 1.2em;

        &:hover {
          color: $gray-7;
        }
      }
    }
  }
}
