@import "@root/styles/colors";

.user-info {
  border: 1px solid $gray-4;
  border-radius: 10px;

  .user-info-inner {
    padding: 0 15px 15px 15px;

    .img-div-wrapper {
      min-height: 175px;
      background-color: $blue-turquoise;
      background-image: $blue-turquoise-gradient;
      border-radius: 10px;
      margin-bottom: 30px;

      .img-div {
        bottom: -60px;
        left: 0;
        right: 0;
        width: 150px;
        height: 150px;

        img {
          object-fit: cover;
          border: 2px solid white;
        }
      }
    }

    .user-info-div {
      color: $gray-6;

      span {
        color: black;
        font-weight: 800;
      }

      .p-name {
        font-size: 1.2em;
        color: black;
        font-weight: 800;
      }
    }

    .buttons-div {
      & > button:first-child {
        margin-right: 8px;
      }

      button:last-child {
        margin-top:10px;
      }
    }
  }
}
