%liked-stl {
  color: #2ecc71;
  background-color: #ebfdf3;
}

%disliked-stl {
  color: #e74c3c;
  background-color: #ffecea;
}

.icon-with-count-comp {
  color: #6d6d6d;
  padding: 9px 15px;
  transition: all .3s;
  border-radius: 30px;
  cursor: pointer;

  &.liked {
    @extend %liked-stl;
  }

  &.disliked {
    @extend %disliked-stl;
  }

  &.up-span {
    &:hover {
      @extend %liked-stl;
    }
  }

  &.down-span {
    &:hover {
      @extend %disliked-stl;
    }
  }

  &.comment-span {
    &:hover {
      color: #3498db;
      background-color: #e3f4ff;
    }

  }

  svg {
    font-size: 1.25em;
    margin-right: 5px;
  }
}
