@import '@root/styles/colors';
@import '@root/styles/indents';
@import '@root/styles/mixins';
@import '@root/styles/anotherConstants';

header {
  background-color: white;
  border-bottom: 1px solid $gray-4;
  @include box-shadow(0px, 5px, 9px, -7px, rgba(214,214,214,1));

  .logo {
    font-family: $font-fredoka;
    font-size: 1.1em;
    font-weight: 400;
  }

  .nav-div {
    a {
      color: black;
      background-color: $gray-3;
      border-radius: 30px;
      margin-left: 10px;
      padding: $small-paddings;
    }
  }
}
