@import '@root/styles/colors';

.layout {
  min-height: calc(100vh - 56px);
  padding-top: 80px;
  padding-bottom: 70px;

  .sidebar-sticky {
    background-color: $gray-2;
    border-radius: 15px;
    min-height: 120px;
    min-width: 225px;
  }
}
