@import "@root/styles/colors";
@import '@root/styles/anotherConstants';

.input-component-label {
  font-family: $font-fredoka;
  color: $gray-6;
}

.small-error {
  color: red !important;
}

.component-input {
  &:focus {
    outline:0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
  }
}
