.input-component-label {
  font-family: 'Fredoka One', cursive;
  color: #555555;
}

.small-error {
  color: #ff0000 !important;
}

.component-input {
  &:focus {
    outline:0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
  }
}
