@import '@root/styles/colors';

.registration-form {
  .error-messages {
    width: 400px;
    color: red;
    background-color: $light-pink;
    border: 2px solid $dark-red;
  }

  form {
    small {
      color: red !important;
    }
  }
}
